/*alles wat hierin staat is voor =< mobiel*/
.grid-container {
    border: 1px solid red;
    background-color: antiquewhite;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-areas:
            "header"
            "main"
            "large-sidebar"
            "small-side-bar"
            "mid-bar"
            "."
            "footer";

}
/*alles wat hierin staat is voor GROTer dan mobiel , tablets en desktops. ALLEEN de properties die veranderen*/
@media screen and (min-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 240px 100px auto 50px;
        grid-template-areas:
        "header large-sidebar large-sidebar"
        "main large-sidebar large-sidebar"
        "main mid-bar small-side-bar"
        "main mid-bar ."
        "footer footer footer";

    }

}

.grid-item {
    padding: 8px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#grid-header {
    background-color: indianred;
    grid-area: header;
}
#grid-main {
    background-color: indianred;
    grid-area: main;
}
#grid-large-sidebar {
    background-color: indianred;
    grid-area: large-sidebar;
}
#grid-mid-bar {
    background-color: indianred;
    grid-area: mid-bar;
}
#grid-small-side-bar {
    background-color: indianred;
    grid-area: small-side-bar;
}
#grid-footer {
    background-color: indianred;
    grid-area: footer;
}





